[Unit]
Description=Network Monitor Service (Delayed 1 minute)
After=network.target
 # 确保网络相关服务启动后再执行（可选，增强稳定性）
Wants=network.target

[Service]
# ExecStartPre=/bin/sleep 50
  # 延时60秒（关键：开机后等待1分钟）
ExecStart=/home/orangepi/demo01/network_monitor.sh >> /home/orangepi/demo01/network_monitor.log 2>&1
  # 脚本的绝对路径
User=root
  # 必须root权限（设置系统时间需要）
RemainAfterExit=yes
  # 执行完毕后仍标记为"运行中"（不影响，可选）

[Install]
WantedBy=multi-user.target