[Unit]
Description=Monitor 4G Connection
After=network.target

[Service]
ExecStartPre=/bin/sleep 60
ExecStart=/home/ubuntu/demo01/ppp0_monitor.sh
Restart=always
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
