KERNEL=="ttyACM*" ,KERNELS=="5-1" ,ATTRS{idProduct}=="117e" ,ATTRS{idVendor}=="16d0" ,MODE:="0777" ,SYMLINK+="CAN0"

#udevadm info --attribute-walk --name=/dev/ttyUSB0
#sudo udevadm control --reload-rules && sudo service udev restart && sudo udevadm trigger


#KERNEL=="ttyACM*" ,KERNELS=="5-1.1" ,ATTRS{idProduct}=="55d3" ,ATTRS{idVendor}=="1a86" ,MODE:="0777" ,SYMLINK+="IMU"

#KERNEL=="ttyACM*" ,KERNELS=="5-1" ,ATTRS{idProduct}=="7523" ,ATTRS{idVendor}=="1a86" ,MODE:="0777" ,SYMLINK+="CAN0"

#KERNEL=="ttyACM*" ,ATTRS{idProduct}=="55d3" ,ATTRS{idVendor}=="1a86" ,MODE:="0777" ,SYMLINK+="IMU"