#
KERNEL=="ttyUSB*" ,ATTRS{idProduct}=="7523" ,ATTRS{idVendor}=="1a86" ,MODE:="0777" ,SYMLINK ="CAN0"
#KERNEL=="ttyACM*" ,KERNELS=="4-1" ,ATTRS{idProduct}=="55d4" ,ATTRS{idVendor}=="1a86" ,MODE:="0777" ,SYMLINK ="SENSOR0"